@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=MuseoModerno:wght@700&display=swap");

body {
    font-family: Asap;
    background-color: #edf7ff;
    margin:50px 100px;
}

h1, #titulo {
    font-family: MuseoModerno;
}

h1 , h2 {
    color: #0a2ff1;
}

h1 {
    font-size: 88px;
    margin-bottom: 0px;
}

h2 {
    font-size: 39px;
    margin-top: -30px;
    margin-bottom: 100px;
}

h2#titulo {
    font-size: 36px;
    margin: 100px 0px 20px 0px;
}

p {
    margin: 50px 0px;
}

p, li {
    color: #04146c;
    font-size: 25px;
}

strong , li {
    font-weight: bold;
}
