@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700;900&display=swap');

body {
    font-family: "Source Sans 3";
    color: #04146c;
    margin: 0px;
}

main {
    margin: auto;
    text-align: center;
}

h2 {
    color: white;
    font-size: 38px;
    font-weight: 400;
    background-color: #04146c;
    width: 100%;
    margin: auto;
}

h1 {
    font-size: 88px;
    font-weight: 900;
}

h3 {
    font-size: 26px;
    font-weight: normal;
}

img {
    width: 600px;
    border: #04146c solid 2px;
}

p {
    font-size: 24px;
    background-color: #edf7ff;
    margin-top: 10px;
}
